target
build
gen
tmp
out
eclbuild
eclipse-bin
.DS_Store
.settings
.classpath
.project
.metadata
.idea
.sonar
*.iml
*~
jxl.log
/common/builds.txt
idea/
/software/settings/web/i/tickets
.sonar-ide.properties
$\{*\}
robot-logs
*.pyc
rebel.xml
.Rproj.user
docker-temp
software/*/wait-for-it.sh
common/docker/logs/*/*
!common/docker/logs/*/.gitkeep
*.log
*.log.*
log/
